body {
	background-image: url("../images/background.jpg");
	background-repeat: repeat;

}

.container {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.racer_table td {
	background-color: white;
	height: 150px;
	width: 150px;
}

#player1_strip .active {
	background-image: url("../images/placeholder.jpg");
	height: 150px;
	width: 150px;
}
#player2_strip .active {
	background-image: url("../images/placeholder.jpg");
}

a:hover {
	text-decoration: underline;
}