body {
  background-image: url("../images/background.jpg");
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.racer_table td {
  background-color: white;
  height: 20px;
  width: 20px;
}

.racer_table td.active {
  background-color: black;
}

a:hover {
 text-decoration: underline;
}